{erl_opts, [
    % {parse_transform, lager_transform},
    warnings_as_errors,
    debug_info
]}.
{deps, [
    {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}},
    {msgpack, ".*", {git, "git://github.com/msgpack/msgpack-erlang.git", "master"}},
    {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}}
]}.